
section{
    margin-bottom: 100px;
}

body{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
}

p{
    color: #6E6E6E;
}

.container{
    display: flex;
}

/* column-1*/


#heading h1{
    font-size: 70px;
    color: #333333;
    padding-left: 30px;
    border-left: 4px solid #FF5959;
}

#heading p{
    line-height: 27px;
}

.half-width img{
    width:80%;
}
.half-width{
    margin-left: 5%;
    width:50%;
}

#heading{
    margin-top: 5%;
    
}

.button{
    margin-bottom: 40px;
}

.button{
    padding:13px 20px;
    background-color: #FF5959;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}



/* column-2 */


.row-1{
    margin-left: 5%;
    margin-right: 4%;
    background-color: burlywood;
    padding: 35px;
    border-radius: 10px;
}

.row-1 p{
    line-height: 25px;
}

.titles{
    font-size: 50px;
    text-align: center;
    color: #13103A;
    margin-bottom: 100px;
}

.row-1 img{
    width:100px;
}


#mission{
    background-color: #EDF5F6;
}

#vission{
    background-color: #FFEEEE;
}

#goal{
    background-color: #FFF4D6;
}

.text-heighlight{
    color: #f57f7f
}

/* column-3 */


.half h2{
    font-size: 30px;
}

.half img{
    width: 80%;
}

.column-3-img{
    width: 55%;
    margin-left: 10%;
}


.text{
    text-align: left;
    width: 80%;
    margin-right: 50px;
}

.text p{
    line-height: 30px;
}

.text h2{
    line-height: 70px;
    font-size: 50px;
    color: #13103A;
}

/* column-4 */

#community-img{
    width: 55%;
    margin-left: 10%;
}

#community-text{
    margin-left: 8%;
}




#column-3{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}

#column-4-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right;
   
}

.projects img{
    width: 90%;
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 14px;
}


.project-img{
    width: 100%;
    border-radius: 10px;
}

.projects{
    display: flex;
    width:100%;
    margin-left: 6%;
}

.experiance-half{
    width: 10%;
    padding: 20px;
    background-color: #f57f7f;
    border-radius: 10px;
    margin-left: 4%;
    color: #FFEEEE;
}

#project h1{
    font-size: 40px;
    text-align: center;
    color: #13103A;
    margin-bottom: 90px;
}

.my-img img{
    width:100%;

}

.my-text{
    text-align: left;
}

.my-text h1{
    font-size: 40px;
    margin-top: 80px;
}


.my-img{
    width: 40%;
}

#hire{
    margin-top: 50px;
}


/* footer */


footer{
    background-color: #13103A;
    height: 250px;
    text-align: center;

}

footer h2{
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 4%;
}

footer p{
    padding-bottom: 5%;
    color:#fff;

}

